Django==5.0.4
djangorestframework==3.15.1
django-allauth[google]==0.61.1
django-crispy-forms==2.1
django-cors-headers==4.3.1
django-filter==24.2
django-environ==0.11.2
djangorestframework-simplejwt==5.3.1
dj-rest-auth[with_social]==6.0.0
factory-boy==3.3.0
ipython==8.22.2
ipdb==0.13.13
model_bakery==1.18.1
openpyxl==3.1.2
psycopg2-binary==2.9.9
shortuuid==1.0.13
PyJWT==2.8.0
pytest==8.1.2
pytest-cov==2.10.1
pytest-django==4.8.0
python-dotenv==1.0.1
pytz==2020.1
requests==2.24.0
uwsgi==2.0.23